{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">История поисковых запросов</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Запрос</th>
                        <th>Пользователь</th>
                        <th>Время</th>
                        <th>Количество результатов</th>
                    </tr>
                </thead>
                <tbody>
                    {% for search in searches %}
                    <tr>
                        <td>{{ search.query }}</td>
                        <td>{{ search.user_id }}</td>
                        <td>{{ search.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>{{ search.results_count or 'N/A' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} 